

body {
    font-family: 'Roboto';
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    padding: 2rem;
    background: #363062;
}

h1 {
    color:#4D4C7D;
}

h2{
    color: #F5F5F5;
}

#titulo_principal{
    color:#F99417
}

p{
    text-align: justify;
    color: white;
}
.card__historia{
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "imagem descricao";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    padding: 6px 8px;
}

.card__titulo{
    grid-area: titulo;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}


.card__imagem{
    grid-area: imagem;
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    aspect-ratio: 1/1;
    object-fit: fill;
}

.card__descricao{
    grid-area: descricao;
    margin: 0 6px;
    margin: 0;
}

.card__descricao>p{
    margin: 0;
}