body {
    font-family: 'Roboto';
    background: #363062;
    cursor: url(imagens/ghost.png), url('/imagens/ghost2.png'), auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.intro {
    border: 2px solid #4D4C7D;
    color: #363062;
    border-radius: 10px;
    padding: .8rem;
}

h1 {
    color: #4D4C7D;
}

h2 {
    color: #F5F5F5;
}

#titulo_principal {
    color: #F99417
}

p {
    text-align: justify;
    color: white;
    font-weight: 100;
}

.card__historia {
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "imagem descricao";
    grid-template-rows: auto auto;
    grid-template-columns: minmax(400px,1fr) 1fr;
    gap: 0.5rem;
    padding-top: .8rem;
}

.card__titulo {
    grid-area: titulo;
    border: 2px solid #4D4C7D;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}


.card__imagem {
    grid-area: imagem;
    display: flex;
    justify-content: center;
   
}

.card__imagem>img{
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card__descricao {
    grid-area: descricao;
    color: darkorange;
    margin: 0 6px;
    margin: 0;
}

.card__descricao>p {
    margin: 0;
    padding: 0 8px;

}