

body {
    font-family: 'Roboto';
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    padding: 2rem;
}

h1 {
    color:#999B84;
}

#titulo_principal{
    color:#4b88a2
}

.texto{
    justify-content: center;
}
